@require 'setting'

@require 'btn'
@require 'btn-bar'

// variables
// ================

// global setting
$-ui-bar-height ?= 44px
$-ui-bar-padding ?= 8px
$-ui-bar-title-font-size ?= 16px

$-ui-bar-z-index ?= 10
$-ui-bar-title-z-index ?= 0
$-ui-bar-btn-z-index ?= 1

// colors
$-ui-bar-colors ?= { bg: #f8f8f8, border: #b2b2b2, text: #444 }
$-ui-bar-colors-primary ?= { bg: #4a87ee, border: #145fd7, text: #fff }
$-ui-bar-colors-danger ?= { bg: #ef4e3a, border: #cc2311, text: #fff }
$-ui-bar-colors-warning ?= { bg: #f0b840, border: #d39211, text: #fff }
$-ui-bar-colors-success ?= { bg: #66cc33, border: #498f24, text: #fff }

// bar button
$-ui-bar-btn-size ?= { font-size: 14px, height: 28px, padding: 6px, icon-size: 16px }

// mixins
// ================
ui-bar-style($ui-colors)
    background-color: $ui-colors.bg
    border-color: $ui-colors.border
    background-image: linear-gradient(0deg, $ui-colors.border, $ui-colors.border 50%, transparent 50%)
    color: $ui-colors.text
    [{$-ui-attr}~=title]
        color: $ui-colors.text

// exports
// ================
.ui-bar
    display: flex
    transform: translate3d(0, 0, 0)
    fixed: _ 0
    z-index: $-ui-bar-z-index
    width: 100%
    height: $-ui-bar-height
    padding: $-ui-bar-padding
    box-sizing: border-box
    user-select: none

    color: $-ui-bar-colors.text
    background-color: $-ui-bar-colors.bg

    border-width: 0
    border-style: solid
    border-top: 1px solid transparent
    border-bottom: 1px solid $-ui-bar-colors.border

    // 1px border on retina
    background-size: 0
    +retina()
        border: none
        background-image: linear-gradient(0deg, $-ui-bar-colors.border, $-ui-bar-colors.border 50%, transparent 50%)
        background-position: bottom
        background-size: 100% 1px
        background-repeat: no-repeat

    // title
    [{$-ui-attr}~=title]
        absolute: 0 0 _
        z-index: $-ui-bar-title-z-index
        font-size: rem($-ui-bar-title-font-size)
        line-height: $-ui-bar-height
        text-align: center
        font-weight: 700

        margin: 0 10px
        min-width: 30px

        ellipsis()

        a
            color: inherit

    // header & footer
    &[{$-ui-attr}~=header]
        top: 0
        border-width: 0 _ 1px

    &[{$-ui-attr}~=footer]
        bottom: 0
        border-width: 1px _ 0
        background-position: top

    // header & footer
    &[{$-ui-attr}~=subheader]
        top: $-ui-bar-height
        border-width: 0 _ 1px

    &[{$-ui-attr}~=subfooter]
        bottom: $-ui-bar-height
        border-width: 1px _ 0
        background-position: top

    // fixed
    &[{$-ui-attr}~=static]
        position: static

    // type
    &[{$-ui-attr}~=primary]
        ui-bar-style($-ui-bar-colors-primary)

    &[{$-ui-attr}~=danger]
        ui-bar-style($-ui-bar-colors-danger)

    &[{$-ui-attr}~=warning]
        ui-bar-style($-ui-bar-colors-warning)

    &[{$-ui-attr}~=success]
        ui-bar-style($-ui-bar-colors-success)

    .ui-btn
        ui-btn-size($-ui-bar-btn-size, $-ui-btn-bar-border-width)
        ui-btn-icon($-ui-bar-btn-size)

    // with button
    .ui-btn
    .ui-btn-bar
        z-index: $-ui-bar-btn-z-index

    $ui-bar-top = (($-ui-bar-height - $-ui-bar-btn-size.height) / 2)

    // > .ui-btn:first-child
    // > .ui-btn-bar:first-child
    //     absolute: $ui-bar-top _ _ $-ui-bar-padding

    [{$-ui-attr}~=title] + .ui-btn:last-child
    > .ui-btn + .ui-btn:last-child
    [{$-ui-attr}~=title] + .ui-btn-bar:last-child
    > .ui-btn-bar + .ui-btn-bar:last-child
    > [{$-ui-attr}~=pull-right]
        absolute: $ui-bar-top $-ui-bar-padding _ _
