// Rider UI Core
//
// @desc    按钮组
// @author  firede(firede@firede.us)


@require 'common'
@require 'btn'


// mixins
// ================

// base
ui-btns-base()
    display: flex
    width: 100%

    > .ui-btn
        flex: 1
        display: block
        border-radius: 0
        margin-right: -1px

        &:last-child
            margin-right: 0

        +ui-btn-set-active()
            z-index: 1

    +ui-set-type('inline')
        display: block
        width: auto
        clearfix()
        > .ui-btn
            float: left

// rounded
ui-btns-rounded($ui-radius)
    if $ui-radius != 0
        > .ui-btn
            &:first-child
                border-radius: $ui-radius 0 0 $ui-radius
            &:last-child
                border-radius: 0 $ui-radius $ui-radius 0
