@require 'common'
@require 'btn'

// variables
// ================

// global setting
$-ui-btn-bar-border-radius ?= 3px
$-ui-btn-bar-border-width ?= 1px
$-ui-btn-bar-no-border-gap ?= 1px

// exports
// ================
.ui-btn-bar
    display: flex
    width: 100%
    flex: 1

    > .ui-btn
        flex: 0 1 auto
        display: block
        border-radius: 0
        border-width: $-ui-btn-bar-border-width 0 $-ui-btn-bar-border-width $-ui-btn-bar-border-width

        &:last-child
            border-width: $-ui-btn-bar-border-width

        if $-ui-btn-bar-border-radius != 0
            &:first-child
                border-radius: $-ui-btn-bar-border-radius 0 0 $-ui-btn-bar-border-radius
            &:last-child
                border-radius: 0 $-ui-btn-bar-border-radius $-ui-btn-bar-border-radius 0

    &[{$-ui-attr}~=inline]
        display: block
        width: auto
        clearfix()
        > .ui-btn
            float: left

    &[{$-ui-attr}~=no-border]
        > .ui-btn
            border-width: 0
            margin-right: $-ui-btn-bar-no-border-gap
        > .ui-btn:last-child
            margin-right: 0
