@require 'common'


// variables
// ================

// global setting
$-ui-btn-border-width ?= 1px
$-ui-btn-border-radius ?= 3px

// size
// ----------------

$-ui-btn-size ?= { font-size: 16px, height: 44px, padding: 12px, icon-size: 20px }
$-ui-btn-size-large ?= { font-size: 18px, height: 54px, padding: 16px, icon-size: 22px }
$-ui-btn-size-small ?= { font-size: 12px, height: 28px, padding: 6px, icon-size: 14px }

// colors
// ----------------

$-ui-btn-colors ?= { bg: #f8f8f8, border: #b2b2b2, text: #444 }
$-ui-btn-colors-primary ?= { bg: #4a87ee, border: #145fd7, text: #fff }
$-ui-btn-colors-danger ?= { bg: #ef4e3a, border: #cc2311, text: #fff }
$-ui-btn-colors-warning ?= { bg: #f0b840, border: #d39211, text: #fff }
$-ui-btn-colors-success ?= { bg: #66cc33, border: #498f24, text: #fff }

// mixins
// ================

// size
ui-btn-size($ui-size, $ui-border-width = $-ui-btn-border-width)
    font-size: rem($ui-size.font-size)
    padding: 0 $ui-size.padding
    line-height: $ui-size.height - $ui-border-width * 2
    min-width: $ui-size.height
    height: $ui-size.height

// icon
ui-btn-icon($ui-size)
    > [class^={$-ui-icon-prefix}]
        font-size: $ui-size.icon-size
        width: $ui-size.icon-size

    &[{$-ui-attr}~=icon-left]
        padding-left: $ui-size.padding + $ui-size.icon-size
        > [class^={$-ui-icon-prefix}]
            absolute: 0 _ _ ($ui-size.padding / 1.5)

    &[{$-ui-attr}~=icon-right]
        padding-right: $ui-size.padding + $ui-size.icon-size
        > [class^={$-ui-icon-prefix}]
            absolute: 0 ($ui-size.padding / 1.5) _ _

    &[{$-ui-attr}~=icon-only]
        padding: 0

// style
ui-btn-style($ui-colors, $ui-active-colors = null)
    color: $ui-colors.text if $ui-colors.text
    border-color: $ui-colors.border if $ui-colors.border
    background: $ui-colors.bg if $ui-colors.bg
    // Android 4.2 下，有边框时消除溢色
    background-clip: padding-box

    if $ui-active-colors == null
        $ui-active-colors = {}
        $ui-active-colors.text = $ui-colors.text
        if typeof($ui-colors.bg) == 'rgba'
            $ui-active-colors-bg = darken($ui-colors.bg, 10%)
            $ui-active-colors.bg = $ui-active-colors-bg
        if typeof($ui-colors.border) == 'rgba'
            $ui-active-colors-border = darken($ui-colors.border, 10%)
            $ui-active-colors.border = $ui-active-colors-border

    &:active
    &[{$-ui-attr}~=active]
        color: $ui-active-colors.text if $ui-active-colors.text
        border-color: $ui-active-colors.border if $ui-active-colors.border
        background: $ui-active-colors.bg if $ui-active-colors.bg
        background-clip: padding-box
        // transition: all .4s
        // box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15)

// exports
// ================
.ui-btn
    vertical-align: top
    text-decoration: none
    box-sizing: border-box
    text-align: center
    position: relative
    border-style: solid
    border-width: $-ui-btn-border-width
    border-radius: $-ui-btn-border-radius
    user-select: none

    ellipsis()

    ui-btn-size($-ui-btn-size)
    ui-btn-icon($-ui-btn-size)
    ui-btn-style($-ui-btn-colors)

    // size
    &[{$-ui-attr}~=large]
        ui-btn-size($-ui-btn-size-large)
        ui-btn-icon($-ui-btn-size-large)

    &[{$-ui-attr}~=small]
        ui-btn-size($-ui-btn-size-small)
        ui-btn-icon($-ui-btn-size-small)

    // block
    &[{$-ui-attr}~=block]
        display: block
    &:not([{$-ui-attr}~=block])
        display: inline-block

    // disabled
    &[disabled]
    &[{$-ui-attr}~=disabled]
        opacity: .5
        // ie mobile don't support this.
        pointer-events: none

    // type
    &[{$-ui-attr}~=primary]
        ui-btn-style($-ui-btn-colors-primary)

    &[{$-ui-attr}~=danger]
        ui-btn-style($-ui-btn-colors-danger)

    &[{$-ui-attr}~=warning]
        ui-btn-style($-ui-btn-colors-warning)

    &[{$-ui-attr}~=success]
        ui-btn-style($-ui-btn-colors-success)

