// Rider UI 默认主题
//
// @desc    工具栏
// @author  firede(firede@firede.us)


@require '../core'


// variables
// ================

// base
$-ui-bar-base = {
    height: 44px
    padding: 8px
    font-size: 16px
    border-width: 1px
    z-index: 10
    title-z-index: 0
    btn-z-index: 1
}

// default btn size
$-ui-bar-btn-size = {
    font-size: 14px
    height: 28px
    padding: 6px
    icon-size: 16px
    border-width: 1px
}

// default btn colors
$-ui-bar-colors = {
    bg: #f8f8f8
    border: #b2b2b2
    text: #444
}

// colors
$-ui-bar-colors-primary = {
    bg: #4a87ee
    border: #145fd7
    text: #fff
}

$-ui-bar-colors-danger = {
    bg: #ef4e3a
    border: #cc2311
    text: #fff
}

$-ui-bar-colors-warning = {
    bg: #f0b840
    border: #d39211
    text: #fff
}

$-ui-bar-colors-success = {
    bg: #66cc33
    border: #498f24
    text: #fff
}

// exports
// ================
.ui-bar
    ui-bar-base($-ui-bar-base, $-ui-bar-colors, $-ui-bar-btn-size)

    // type
    +ui-set-type('primary')
        ui-bar-style($-ui-bar-colors-primary)

    +ui-set-type('danger')
        ui-bar-style($-ui-bar-colors-danger)

    +ui-set-type('warning')
        ui-bar-style($-ui-bar-colors-warning)

    +ui-set-type('success')
        ui-bar-style($-ui-bar-colors-success)

