// Rider UI 默认主题
//
// @desc    按钮组
// @author  firede(firede@firede.us)


@require '../core'


// exports
// ================

.ui-btns
    ui-btns-base()

    &[{$-ui-attr}~=rounded]
        // custom rounded
        ui-btns-rounded(3px)
