font-face('rider-ui-demo', './font/rider-ui-demo')

[class^="icon-"]
[class*=" icon-"]
    font-family: 'rider-ui-demo'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    // line-height: 1

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-search:before
    content: "\f002"

.icon-heart:before
    content: "\f004"

.icon-star:before
    content: "\f005"

.icon-user:before
    content: "\f007"

.icon-gear:before
    content: "\f013"

.icon-clock-o:before
    content: "\f017"

.icon-play-circle-o:before
    content: "\f01d"

.icon-tags:before
    content: "\f02c"

.icon-left:before
    content: "\f053"

.icon-right:before
    content: "\f054"

.icon-question-circle:before
    content: "\f059"

.icon-info-circle:before
    content: "\f05a"

.icon-globe:before
    content: "\f0ac"

.icon-filter:before
    content: "\f0b0"

.icon-bars:before
    content: "\f0c9"

.icon-lightbulb-o:before
    content: "\f0eb"

.icon-stethoscope:before
    content: "\f0f1"

.icon-medkit:before
    content: "\f0fa"

.icon-spinner:before
    content: "\f110"

.icon-github-alt:before
    content: "\f113"

.icon-cny:before
    content: "\f157"
